h1,
h2,
h3,
h4,
h5,
h6,
p {
margin-top: 0;
}
/* Класс для обнуления базовых свойств у списков (ul) */
ul,ol {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
/* Класс для обнуления базовых свойств у ссылок */
a{
    text-decoration: none;
    color: inherit;
}
/* Свойства для корректного отображения картинок */
img {
    display: block;
    max-width: 100%;
    height: auto;
}
/* Свойства для обнуления курсива у address */
address {
font-style: normal;
/* or */
font-style: inherit;
// display: block; *******************************
}

