body{
    font-family: 'Montserrat', sans-serif;
    background: #FFFFFF;
    
}

.title{
    display: flex;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0 ;
align-items: center;
      margin-right: 0;
    @media screen and (min-width:768px) {
          font-size: 44px;
          line-height: 1.23;
    }
&::after{
                  content: "";
                  flex-grow: 1;
                  display: flex;
                  align-items: center;
                  flex-direction: row;
                  border: 1px solid #000000;
                  height: 0;
                  margin-left: 14px;
                  @media screen and(min-width:768px) {
                                    margin-left: 16px;
                  }
}
}