body{
    font-family: 'Montserrat', sans-serif;
    background: #FFFFFF;
    
}

.title{
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
    @media screen and (min-width:768px) {
          font-size: 44px;
          line-height: 1.23;
    }
}