<section class="about">
    <h2 class="about__title">about</h2>
    <div class="about__description">
        <p class="about__text">
            We are a minimalistic flower studio. We love people and flowers.
            Therefore, every day we give people the beauty and joy creating stylish
            and modern masterpieces. Every bouquet we create is unique as you are.
        </p>
    
    <picture>
        <source srcset="
                        ./images/about/desktop/desktop-about@1x.png 1x,
                        ./images/about/desktop/desktop-about@2x.png 2x
                      " media="(min-width: 1200px)" />
        <source srcset="
                        ./images/about/tablet/tablet-about@1x.png 1x,
                        ./images/about/tablet/tablet-about@2x.png 2x
                      " media="(min-width: 768px)" />
        <source srcset="
                        ./images/about/mobil/mobile-about@1x.png 1x,
                        ./images/about/mobil/mobile-about@2x.png 2x
                      " media="(min-width: 480px)" />
        <img class="about__img" src="./images/about/mobil/mobile-about@1x.png" alt="flowers" width="288"/>
    </picture>
    </div>
</section>