<section class="about">
    <h2 class="about__title">ABOUT<span class="about__line"></span></h2>
    <div class="about__description">
        <p class="about__text">
            We are a minimalistic flower studio. We love people and flowers.
            Therefore, every day we give people the beauty and joy creating stylish
            and modern masterpieces. Every bouquet we create is unique as you are.
        </p>
    </div>
    <picture>
        <source srcset="
                        ./   1x,
                        ./images/ourTeam/img4_desk@2x.jpg 2x
                      " media="(min-width: 1200px)" />
        <source srcset="
                        ./images/ourTeam/img4_tabl.jpg    1x,
                        ./images/ourTeam/img4_tabl@2x.jpg 2x
                      " media="(min-width: 768px)" />
        <source srcset="
                        ./images/ourTeam/img4_tel.jpg 1x,
                        ./images/ourTeam/img4_tel@2.jpg 2x
                      " media="(min-width: 767px)" />
        <img class="team__img" src="./images/ourTeam/img4_desk.jpg" alt="дизайнер" />
    </picture>
</section>