<section class="section">
  <div class="container">
    <h2 class="title blog-container__title">BLOG</h2>
    <div class="slider autoplay">
      <div class="slider__img1">
        <picture>
          <source
            srcset="
              ./images/blog/desktop/desktop-flowers1@1x.jpeg 1x,
              ./images/blog/desktop/desktop-flowers1@2x.jpeg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/blog/tablet/tablet-flowers1@1x.jpeg 1x,
              ./images/blog/tablet/tablet-flowers1@2x.jpeg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/blog/mobil/mobile-flowers1@1x.jpeg 1x,
              ./images/blog/mobil/mobile-flowers1@2x.jpeg 2x
            "
          />
          <img
            class="blog__img"
            src="./images/blog/mobil/mobile-flowers1@1x.jpeg"
            alt="Flower picture "
          />
        </picture>
      </div>
      <div class="slider__img2">
        <picture>
          <source
            srcset="
              ./images/blog/desktop/desktop-flowers2@1x.jpeg 1x,
              ./images/blog/desktop/desktop-flowers2@2x.jpeg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/blog/tablet/tablet-flowers2@1x.jpeg 1x,
              ./images/blog/tablet/tablet-flowers2@2x.jpeg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/blog/mobil/mobile-flowers2@1x.jpeg 1x,
              ./images/blog/mobil/mobile-flowers2@2x.jpeg 2x
            "
          />
          <img
            class="blog__img"
            src="./images/blog/mobil/mobile-flowers2@1x.jpeg"
            alt="Flower picture"
          />
        </picture>
      </div>
      <div class="slider__img3">
        <picture>
          <source
            srcset="
              ./images/blog/desktop/desktop-flowers3@1x.jpeg 1x,
              ./images/blog/desktop/desktop-flowers3@2x.jpeg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/blog/tablet/tablet-flowers3@1x.jpeg 1x,
              ./images/blog/tablet/tablet-flowers3@2x.jpeg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/blog/mobil/mobile-flowers3@1x.jpeg 1x,
              ./images/blog/mobil/mobile-flowers3@2x.jpeg 2x
            "
          />
          <img
            class="blog__img"
            src="./images/blog/mobil/mobile-flowers3@1x.jpeg"
            alt="Flower picture"
          />
        </picture>
      </div>
    </div>
    <p class="blog__text">Follow to our newsletter</p>
    <button type="button" class="blog__button">Subscribe</button>
  </div>
</section>
