<section class="delivery">
  <div class="container">
    <h2 class="delivery__title">delivery</h2>
    <ul class="delivery__list">
    
        <li class="delivery__item">
            <div class="delivery__ellipse" >
                <span class="delivery__accent">1</span>
            </div>
            <p class="delivery__text">Choose your bouquet and make an order on website</p>
    
        </li>
        <li class="delivery__item">
            <div class="delivery__ellipse" >
                <span class="delivery__accent">2</span>
            </div>
            <p class="delivery__text">Wait for the call to clarify the details of the order. You can pay online or to the
                courier</p>
    
        </li>
        <li class="delivery__item">
            <div class="delivery__ellipse">
                <span class="delivery__accent">3</span>
            </div>
            <p class="delivery__text">Wait for the delivery at the selected time or pick up the order from the store</p>
    
        </li>
        <li class="delivery__item">
            <div class="delivery__ellipse">
                <span class="delivery__accent">4</span>
            </div>
            <p class="delivery__text">Make someone happy or enjoy yourself</p>
        </li>
    </ul>
    </div>
    <picture>
        <source srcset="
                            ./images/delivery/desktop/desktop-delivery@1x.jpeg 1x,
                            ./images/delivery/desktop/desktop-delivery@2x.jpeg 2x
                          " media="(min-width: 1200px)" />
        <source srcset="
                            ./images/delivery/tablet/tablet-delivery@1x.jpeg 1x,
                            ./images/delivery/tablet/tablet-delivery@2x.jpeg 2x
                          " media="(min-width: 768px)" />
        <source srcset="
                            ./images/delivery/mobil/mobile-delivery@1x.jpeg 1x,
                            ./images/delivery/mobil/mobile-delivery@2x.jpeg 2x
                          " media="(max-width: 767px)"  width="320"  />
        <img class="delivery__img" src="./images/delivery/mobil/mobile-delivery@1x.jpeg" alt="bouquet of flowers"/>
    </picture>
  
</section>