<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Montserrat:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Anemone flower studio</title>
    <link rel="stylesheet" href="./sass/index.scss" />
    <script type="module" src="./js/index.js"></script>
  </head>
  <body></body>
  <footer class="footer">
    <div class="container footer__items">
      <div class="footer__logo">
        <svg class="footer__logo-icon">
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
      </div>
      <div class="footer__navigation">
        <h2 class="footer__heading">Navigation</h2>
        <nav>
          <ul class="footer__list">
            <li><a class="footer__link" href="./index.html">Anemone</a></li>
            <li><a class="footer__link" href="#about-us">About us</a></li>
            <li><a class="footer__link" href="#store">Store</a></li>
            <li><a class="footer__link" href="#delivery">Delivery</a></li>
          </ul>
        </nav>
      </div>
      <div class="footer__opening">
        <h2 class="footer__heading">Opening times</h2>
        <ul>
          <li class="footer__link">Every day<br />9:00 - 22:00</li>
        </ul>
      </div>
      <div class="footer__contacts">
        <h2 class="footer__heading">Contacts</h2>
        <address>
          <ul class="footer__list">
            <li>
              <a class="footer__link" href="tel:+380631234567"
                >+38 063 123 45 67</a
              >
            </li>
            <li>
              <a class="footer__link" href="mailto:anemonestudio@example.com"
                >anemonestudio&#8203;@example.com</a
              >
            </li>
            <li>
              <a
                class="footer__link"
                href="https://goo.gl/maps/QKrHFrEc54jKMPXg7"
                target="_blank"
                rel="noopener noreferrer nofollow"
                >Reitarska Street, 11 Kyiv, Ukraine</a
              >
            </li>
          </ul>
        </address>
      </div>
      <div class="footer__social">
        <ul class="footer__social-list">
          <li>
            <a
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="footer__social-icon">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="footer__social-icon">
                <use href="./images/sprite.svg#icon-instagram"></use></svg
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</html>
