<header class="header">
  <div class="container header-container">
    <a href="#" class="header__logo">
        <svg class="header__logo-img" width="45" height="35">
            <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
    </a>

    <!-- <button class="header-button__open js-open-menu" type="button">
      <svg class="header-button__icon" width="40" height="40">
        <use class="button-icon__menu" href="./images/sprite.svg#icon-burger"></use>
      </svg>
    </button> -->

    <nav class="header__nav">

      <ul class="header__nav-lists">
        <li class="header__nav-item "><a href="#" class="header__nav-link">Anemone</a></li>
        <li class="header__nav-item"><a href="#" class="header__nav-link">About us</a></li>
        <li class="header__nav-item"><a href="#" class="header__nav-link">Store</a></li>
        <li class="header__nav-item"><a href="#" class="header__nav-link">Delivery</a></li>
        <li class="header__nav-item"><a href="#" class="header__nav-link">Blog</a></li>
      </ul>

    </nav>

    <a href="#" class="header-phone">
      <svg class="header__phone-img" width="22" height="22">
        <use href="./images/sprite.svg#icon-call-us"></use>
      </svg>
    </a>
      
      
    </ul>




  </div>
</header>