<header class="header">
  <div class="container header-container">
    <a href="#" class="header__logo">
        <svg class="header__logo-img" width="45" height="35">
            <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
    </a>

    

    <nav class="header__nav">

      <ul class="header__nav-lists">
        <li class="header__nav-item "><a href="#" class="header__nav-link">Anemone</a></li>
        <li class="header__nav-item"><a href="#" class="header__nav-link">About us</a></li>
        <li class="header__nav-item"><a href="#" class="header__nav-link">Store</a></li>
        <li class="header__nav-item"><a href="#" class="header__nav-link">Delivery</a></li>
        <li class="header__nav-item"><a href="#" class="header__nav-link">Blog</a></li>
      </ul>

    </nav>

    <div class="header__call-us">
      <a class="header-phone" href=“tel:+380631234567>
        <svg class="header__phone-img" width="22" height="22">
          <use href="./images/sprite.svg#icon-call-us"></use>
        </svg>
        </a>
        <button class="header-button__open is-open" data-menu-button  aria-controls="menu" aria-expanded="false" type="button">
          <svg class="header-button__icon" width="24" height="24">
            <use class="button-icon__menu" href="./images/sprite.svg#icon-burger"></use>
            <use class="button-icon__cross" href="./images/sprite.svg#icon-cross"></use>
          </svg>
        </button>
    </div>
    

      
    <div class="header__mobile-nav" data-menu  id="menu"  >
      <ul class="header__mobile-nav-lists">
        <li class="header__mobile-nav-item"><a href="#" class="header__nav-link">Anemone</a></li>
        <li class="header__mobile-nav-item"><a href="#" class="header__nav-link">About us</a></li>
        <li class="header__mobile-nav-item"><a href="#" class="header__nav-link">Store</a></li>
        <li class="header__mobile-nav-item"><a href="#" class="header__nav-link">Delivery</a></li>
        <li class="header__mobile-nav-item"><a href="#" class="header__nav-link">Blog</a></li>
      </ul>
     
      
      
    </div>
      




  </div>
</header>