<section class="hero">
    <div class="container">

        <div class="hero__describe">
            <p class="hero__text">flower<br>studio</p>
            <picture class="hero__img">
                <source srcset="./images/hero/desktop/desktop-hero@1x.png 1x, ./images/hero/desktop/desktop-hero@2x.png 2x" media="(min-width: 1200px)">
                <source srcset="./images/hero/tablet/tablet-hero@1x.png 1x, ./images/hero/tablet/tablet-hero@2x.png 2x" media="(min-width: 768px)">
                <source srcset="./images/hero/mobil/mobile-hero@1x.png 1x, ./images/hero/mobil/mobile-hero@2x.png 2x" media="(max-width: 767px)">
                <img src="./images/hero/mobil/mobile-hero@1x.png" alt="hero__flower" loading="lazy">
            </picture>
            <button type="button" class="hero__btn"  data-modal-open>
                <svg class="hero__btn-img " width="64" height="76">
                    <use href="./images/sprite.svg#icon-btn"></use>
                </svg>
            </button>
        </div>
        
        <h1 class="hero__title">ANEMONĒ</h1>
        
       
        

    </div>
</section>