<div class="backdrop">
    <div class="md-modal" id="modal-1">
    <div class="md-content">
       <div>
        <img src="./images/favicon.ico" alt="bouquet of flowers">
        <strong>Follow to our newsletter</strong>
     
        <div>
            <form action="">
                <label for="">Email</label>
                <input type="email" name="" id="">
            </form>
            <p>Be the first  to get exclusive offers and the latest  news on our product directly in your box.</p>
           
            <button class="md__btn" type="button">Subscribe</button>
        </div>
    </div>
    </div>
</div></div>