<div class="backdrop">
    <div class="modal" id="modal-1">
    <div class="modal__content">
       <div>
        <img src="./images/modal/mobil/mobile-christie@1x.jpeg" alt="bouquet of flowers" width="272">
        <strong>Follow to our newsletter</strong>
     
        <div>
              <p>Be the first  to get exclusive offers and the latest  news on our product directly in your box.</p>
            <form action="">
                <label for="">Email</label>
                <input type="email" name="" id="">
            </form>
          
           
            <button class="md__btn" type="button">Subscribe</button>
        </div>
    </div>
    </div>
</div></div>