<div class="backdrop is-hidden" data-modal>
    <div class="modal" id="modal-1">
    <!-- <div class="modal__content"> -->
        <button data-modal-close class="modal__btn">
            <svg class="modal__icon">
              <use href="./images/sprite.svg#icon-cross"></use>
            </svg></button>
       <div class="modal__wrapper">
        <img src="./images/modal/desktop/desktop-christie@1x.jpeg" alt="bouquet of flowers" width="428">
        
     
        <div class="modal__content">
            <strong class="modal__plea">Follow to our newsletter</strong>
              <p class="modal__text">Be the first  to get exclusive offers and the latest  news on our product directly in your box.</p>
            <div>
              <form class="modal__fild" action="">
                <label class="modal_mail" for="mail">Email</label>
                <input class="modal__input" type="email" name="mail" id="mail" placeholder="Your email">
            </form>
          
           
            <button class="modal__form-btn" type="button">Subscribe</button>
        </div></div>
    <!-- </div> -->
    </div>
</div></div>