<section class="section">
  <div class="container store">
    <h2 class="title store-container__title">STORE</h2>
    <ul class="store__list">
      <li class="store__item">
        <picture>
          <source
            srcset="
              ./images/store/desktop/desktop-compliments@1x.jpeg 1x,
              ./images/store/desktop/desktop-compliments@2x.jpeg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/store/tablet/tablet-compliments@1x.jpeg 1x,
              ./images/store/tablet/tablet-compliments@2x.jpeg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/store/mobil/mobile-compliments@1x.jpeg 1x,
              ./images/store/mobil/mobile-compliments@2x.jpeg 2x
            "
          />
          <img
            class="store__img"
            src="./images/store/mobil/mobile-compliments@1x.jpeg"
            alt="Compliment flower picture"
          />
        </picture>
        <h3 class="store__title">compliments</h3>
        <p class="store__text">from $15</p>
      </li>
      <li class="store__item">
        <picture>
          <source
            srcset="
              ./images/store/desktop/desktop-bouquets-s@1x.jpeg 1x,
              ./images/store/desktop/desktop-bouquets-s@2x.jpeg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/store/tablet/tablet-bouquets-s@1x.jpeg 1x,
              ./images/store/tablet/tablet-bouquets-s@2x.jpeg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/store/mobil/mobile-bouquets-s@1x.jpeg 1x,
              ./images/store/mobil/mobile-bouquets-s@2x.jpeg 2x
            "
          />
          <img
            class="store__img"
            src="./images/store/mobil/mobile-bouquets-s@1x.jpeg"
            alt="Bouquet of flower size S picture"
          />
        </picture>
        <h3 class="store__title">bouquets size S</h3>
        <p class="store__text">from $25</p>
      </li>
      <li class="store__item">
        <picture>
          <source
            srcset="
              ./images/store/desktop/desktop-bouquets-m@1x.jpeg 1x,
              ./images/store/desktop/desktop-bouquets-m@2x.jpeg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/store/tablet/tablet-bouquets-m@1x.jpeg 1x,
              ./images/store/tablet/tablet-bouquets-m@2x.jpeg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/store/mobil/mobile-bouquets-m@1x.jpeg 1x,
              ./images/store/mobil/mobile-bouquets-m@2x.jpeg 2x
            "
          />
          <img
            class="store__img"
            src="./images/store/mobil/mobile-bouquets-m@1x.jpeg"
            alt="Bouquet of flower size M picture"
          />
        </picture>
        <h3 class="store__title">bouquets size M</h3>
        <p class="store__text">from $45</p>
      </li>
      <li class="store__item">
        <picture>
          <source
            srcset="
              ./images/store/desktop/desktop-bouquets-l@1x.jpeg 1x,
              ./images/store/desktop/desktop-bouquets-l@2x.jpeg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/store/tablet/tablet-bouquets-l@1x.jpeg 1x,
              ./images/store/tablet/tablet-bouquets-l@2x.jpeg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/store/mobil/mobile-bouquets-l@1x.jpeg 1x,
              ./images/store/mobil/mobile-bouquets-l@2x.jpeg 2x
            "
          />
          <img
            class="store__img"
            src="./images/store/mobil/mobile-bouquets-l@1x.jpeg"
            alt="Bouquet of flower size L picture"
          />
        </picture>
        <h3 class="store__title">bouquets size L</h3>
        <p class="store__text">from $60</p>
      </li>
    </ul>
    <button type="button" class="store__button" js-data-modal-open>
      Order flowers
    </button>
  </div>
</section>
