
.container{
    max-width: 480px;
    margin: 0 auto;
    padding: 0 16px;
    @media screen and (min-width:$tablet){
        max-width:768px;
    }
    @media screen and (min-width:$desktop){
        max-width:1280px;
    }
}

.section{
    margin-bottom: 60px;
    @media screen and (min-width:$tablet){
    margin-bottom: 100px;
    }
}


