
.container{
    max-width: 480px;
    margin: 0 auto;
    padding: 0 16px;
    @media screen and (min-width:$tablet){
        max-width:768px;
    }
    @media screen and (min-width:$desktop){
        max-width:1280px;
    }
}

.section{
    margin-bottom: 60px;
    @media screen and (min-width:$tablet){
    margin-bottom: 100px;
    }
}


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.3);
    transition: opacity 250ms $time-cube, visibility 250ms $time-cube;
    opacity: 1;
  }
  
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }