.about {

  &__title {
    @extend .title;
    margin-bottom: 32px;
    
  }
  &__description {
    align-items: center;
    @media screen and (min-width: $tablet) {
      display: flex;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20 / 16);

    color: #000000;
    width: 288px;
    max-width: 100%;
    margin-bottom: 16px;
    @media screen and (min-width: $tablet) {
      font-size: 20px;
      line-height: calc(24 / 20);
      width: 322px;
      margin-bottom: 0;
    }
    @media screen and (min-width: $desktop) {
      font-size: 22px;
      line-height: calc(27 / 22);
      width: 510px;
    }
  }
  &__img {
    max-width: 100%;
    @media screen and (min-width: $tablet) {
      width: 344px;
      margin-left: 54px;
    }
    @media screen and (min-width: $desktop) {
      width: 632px;
      margin-left: 90px;
    }
  }
}
