.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.header {
  position: relative;
  padding: 16px 0 44px;
  @media screen and (min-width: $tablet){
    padding: 24px 0 38px;
  }
  @media screen and (min-width: $desktop){
    padding: 28px 0 44px;
  }
  
  }
  
  .header__address {
    display: none;
    @media screen and (min-width: $tablet) {
      display: block;
    }
    @media screen and (min-width: $desktop) {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
    }
    
  }
  
  .header__nav {
    display: none;
    @media screen and (min-width: $tablet) {
      display: block;
      display: flex;
      align-items: center;
    }
    @media screen and (min-width: $desktop) {
      display: block;
      display: flex;
      align-items: center;
    }
    
  
  }

  .header__mobile-nav{
    position: fixed;
    top: 0;
    left:0;
    
    background-color: $default-color-btn;
    width: 100%;
    height: 100vh;
    padding:124px 0px 180px;
    text-align: center;
    opacity: 0;
    visibility:hidden;
    z-index: 1;
    @media screen and (min-width: $tablet) {
      display: none;
    }
    @media screen and (min-width: $desktop) {
      display: none;
    }
  }

 

  .header__mobile-nav-lists{
    display: flex;
    flex-direction: column;
    gap:26px;
  }
    
  .header__mobile-nav-item{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: $white-text-color;

  }


  
  .header__nav-lists {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .header__logo-img{
    @media screen and (min-width: $tablet){
    width: 75px;
    height: 57px;
  }
}
 
  .header__nav-link {
    @media screen and (min-width: $tablet){
      font-weight: 400;
      font-size: 20px;
      line-height: 1.2;
    
      color: $black-text-color;
      &:hover,&:focus{
        color: $hover-color-btn;
      }
    }
  }

  .header__phone-img{
    @media screen and (min-width:$tablet) {
      width: 24px;
      height: 24px;
    }
    @media screen and (min-width:$desktop) {
      width: 28px;
      height: 28px;
    }
  }

  .mobile__nav{
        margin-bottom: 302px;
        
    }
    
    .mobile__nav-link{
        font-family: inherit;
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
        letter-spacing: 0.02em;
        padding-bottom: 35px;
        color: #212121;
        &.active{
            color: #2196F3;
        }
    }
  
    .mobile__nav-item:not(:last-child){
        margin-bottom: 35px;
    }
  
    
  
    .mobile__address-link{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.02em;
        color: #757575;
        display: block;
        margin-bottom: 32px;
        &.active{
            color: $hover-color-btn;
        }
        
    }
    .mobile__social{
        display: flex;
        gap: 10px;
        margin-top: 32px;
        display: inline-flex;
    }
  
    .mobile__social-item{
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        padding: 0 5px 0 0;
        &:last-child{
            border-right:0;
        }
    }
    .mobile__social-link{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height, or 122% */
        letter-spacing: 0.02em;
  
        color: #2196F3;
    }
  
    .mobile__menu-button{
        display: inline-flex;
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;
        position: absolute;
        top: 20px;
        right:22px;
    
    }
    
    .header-container{
      display: flex;
      justify-content: space-between;
    }
    
    .header-button__open{
      border: none;
      background-color: transparent;
      @media screen and (min-width: $tablet) {
        display: none;
      }
      @media screen and (min-width: $desktop) {
        display: none;
      }
    }

    .button-icon__cross{
      display: none;
    }

    .header-button__open.is-open .button-icon__cross{
      display: block;
    }

    .header__mobile-nav.is-open{
      opacity: 1;
      visibility:visible;
    }
  
  
  
  
  ////////////////// Header__modal
  
  
  
  