.hero{
    position: relative;
    
}

.hero .container{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 113px 0 100px;
    
    @media screen and (min-width: $tablet){
        padding-top:255px;
    }
}
.hero__describe{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 61px;
    padding: 0 11px;
    @media screen and (min-width: $tablet){
        margin-bottom: 166px;
    }
    @media screen and (min-width: $tablet){
        margin-bottom: 130px;
    }
}
.hero__text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;

    color: $black-text-color;
    @media screen and (min-width:$tablet) {
        font-size: 24px;
        padding-left: 49px;
    }
    @media screen and (min-width:$desktop) {
        font-size: 32px;
        padding-left: 210px;
    }
}
.hero__btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    @media screen and (min-width:$tablet) {
        margin-right: unset;
    }
    @media screen and (min-width:$desktop) {
        margin-right: 145px;
    }
    
}

.hero__btn-img{
    @media screen and (min-width: $tablet){
        width: 145px;
        height: 150px;

    }
}

.hero__title{
    font-weight: 400;
    font-size: 52px;
    line-height: 1.2;
    text-align: center;

    color: $black-text-color;
    @media screen and (min-width: $tablet){
        font-size: 120px;
        line-height: 1.2;
    }
    @media screen and (min-width: $desktop){
        font-size: 160px;
        line-height: 1.2;
    }

}

.hero__img{
    position: absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    z-index: -1;
}