.store__list{
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      justify-content: center;
      margin-bottom: 32px;
      margin-right: 0;
      @media screen and (min-width:768px){
      margin-bottom: 60px;
      }
      
}
.store__item {
      width: calc((100% - 1 * 16px) / 2);
}
.store__title{
      margin-bottom: 6px;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.25;
}
.store__img{
      width: 100%;
      margin-bottom: 12px;
}
.store__text{
      margin-bottom: 0;
            font-weight: 600;
            font-size: 12px;
            line-height: 1.25;
            opacity: 0.6;
}

.store__button{
           display: flex;
            justify-content: center;
            align-items: center;
            padding: 14px 28px;
            margin-right: auto;
            margin-left: auto;
            gap: 10px;
            background: #E86F54;
            border-radius: 38px;
            border: transparent;
            color: #FFFFFF;
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            width: 208px;
            height: 44px;
            @media screen and (min-width:768px){
                  width: 280px;
                  height: 64px;
            }
}